.menu-item {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  border-radius: 8px;
  transition: color 0.3s, background 0.3s;
}

.menu-item:hover {
  color: #ffc300;
  background: rgba(0, 0, 0, 0.1);
}

.bm-burger-button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.bm-burger-bars {
  height: 4px !important;
}

.bm-cross {
  background: #fff;
}
